

.calc {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
}

.input, .result {
    background-color: #1d1d2c;
  font-size: 24px;
   margin: 1px 0; 
  border-radius: 5px;
  padding: 10px; 
  border: 2px solid #1d1d2c;
  width: 300px;
  text-align: right;
  color: #f2efef;
  height: 75px;
  border-color: #e03636;
}

.buttons {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 10px;
  background-color:  #272732;
  border-radius: 10px;
  
  
}

button {
  font-size: 20px;
  padding: 20px;
  border-color: rgb(214, 35, 53);
  background-color: #1d1d2c;
  cursor:pointer;
  box-shadow: -8px -8px 15px rgba(107, 102, 152, 0.1), 5px 3px 10px rgba(0,0,0,0.3);
  border-radius: 10px 10px 10px 10px;
  color: #f1e5e5;
}

button:hover {
  background-color: #646060;
}
